@model InfoSystem.Web.Models.Redaction.CreateRedactionModel

@{
    ViewData["Title"] = "Create redaction";
    Layout = "~/Views/Shared/_SubpageLayout.cshtml";
}

<h1>Create</h1>

<h4>Create Redaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneralEditor" class="control-label"></label>
                <input asp-for="GeneralEditor" class="form-control" />
                <span asp-validation-for="GeneralEditor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneralEditorCallNumber" class="control-label"></label>
                <input asp-for="GeneralEditorCallNumber" class="form-control" />
                <span asp-validation-for="GeneralEditorCallNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneralEditorEmail" class="control-label"></label>
                <input asp-for="GeneralEditorEmail" class="form-control" />
                <span asp-validation-for="GeneralEditorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="button">Back to List</a>
</div>

