@model InfoSystem.Web.Models.UserAccessRequest.AcceptUserAccessRequestModel

@{
    ViewData["Title"] = "Accept user access request";
    Layout = "~/Views/Shared/_SubpageLayout.cshtml";
}

<h2>Accept user access request</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AcceptUserAccessRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedUserRole" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedUserRole, Model.UserRoleItems)
                <span asp-validation-for="SelectedUserRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedRedactionId" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedRedactionId, Model.RedactionItems)
                <span asp-validation-for="SelectedRedactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RedactionRequired" class="control-label"></label>
                <input asp-for="RedactionRequired" class="form-control" />
                <span asp-validation-for="RedactionRequired" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="CreateAsNewRedaction" type="checkbox" id="CreateAsNewRedaction" name="CreateAsNewRedaction"/>
                <label class="form-check-label" for="CreateAsNewRedaction">
                    @Html.DisplayNameFor(model => model.CreateAsNewRedaction)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RedactorType" class="control-label"></label>
                @Html.DropDownListFor(model => model.RedactorType, Model.RedactorTypeItems)
                <span asp-validation-for="RedactorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

