
@{
    ViewData["Title"] = "Access request created";
    Layout = "~/Views/Shared/_SubpageLayout.cshtml";
}

<h1>Access request</h1>
<h5>Váš požadavek byl vytvořen</h5>
<h6>Your request was successfully created.</h6>
<a>
    Vyčkejte prosím do zpracování Vašeho požadavku našim adminem. Dojde-li ke schválení, bude Vám odeslán email s podrobnostmi.
</a>

