@{
    ViewData["Title"] = "Kontakty";
    Layout = "~/Views/Shared/_SubpageLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<h4>Contacts</h4>

<div>
    <h5>Akreditace a zástupce media delegáta (Accreditation and deputy media delegate)</h5>
    <b>
        Evžen Gargulák
    </b>
    <div>
        Telefon: +420 605 217 969
    </div>
    <div>
        Email: akreditace@mediadelegat.cz
    </div>
</div>
<hr />

<div>
    <h5>Media delegát (Media delegate)</h5>
    <b>
        Karel Louda
    </b>
    <div>
        Telefon: +420 724 709 070
    </div>
    <div>
        Email: louda@mediadelegat.cz
    </div>
</div>
<hr />
<div>
    <b>
        Karel Nevečeřal
    </b>
    <div>
        Telefon: 420 773 243 454
    </div>
</div>
