
@{
    ViewData["Title"] = "Documents";
    Layout = "~/Views/Shared/_SubpageLayout.cshtml";
}

<h1>Dokumenty</h1>
<h5>Documents</h5>
<div>
    <a download href="/documents/akreditační formulář 2020.pdf">Akreditační formulář 2020</a>
</div>
<div>
    <a download href="/documents/JEDNOTNÉ ZÁSADY PRO AKREDITACI NOVINÁŘŮ 2020.pdf">JEDNOTNÉ ZÁSADY PRO AKREDITACI NOVINÁŘŮ 2020</a>
</div>
<div>
    <a download href="/documents/ručení odpovědnosti 2020.pdf">Ručení odpovědnosti 2020</a>
</div>
<div>
    <a download href="~/documents/Terms.pdf">Terms</a>
</div>