@model int
@{
    ViewData["Title"] = "404 Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger mt-1 mb-1" >
    <h4>404 Not Fount Error:</h4>
    <hr />
    <h5>
        User with Id = @Model cannot be found
    </h5>
</div>

<a asp-action="index" asp-controller="user" class="btn btn-outline-success">
    Go to user list
</a>

